.ContactChipSections {
  &__wrapper {
    margin: var(--s__main-padding) 0;
  }

  &__title-wrapper {
    background: var(--c__secondary);
    color: var(--c__primary);
    display: flex;
    font-weight: var(--fw__bold);
    justify-content: space-between;
    list-style: none;
    padding: var(--s__main-padding);
  }

  &__title {
    align-items: center;
    display: inline-flex;
    font: inherit;
    margin: 0;
    padding: 0;
  }

  &__articles {
    padding: 0 var(--s__main-padding);
  }

  &__icon {
    content: "";
    display: block;
    display: inline-block;
    height: 24px;
    margin-right: 10px;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    position: relative;
    width: 24px;

    &--people {
      background: var(--c__primary);
      height: 24px;
      margin-right: 10px;
      mask-image: url("../../images/icons/people.svg");
      width: 24px;
    }

    &--institutions {
      background: var(--c__primary);
      height: 24px;
      margin-right: 10px;
      mask-image: url("../../images/icons/institutions.svg");
      width: 24px;
    }

    &--foreign {
      background: var(--c__primary);
      height: 24px;
      margin-right: 10px;
      mask-image: url("../../images/icons/web.svg");
      width: 24px;
    }
  }

  @media (min-width: 66rem) {
    align-items: flex-start;
    display: flex;
    gap: var(--s__alt-padding);

    > * {
      flex: 1;
    }

    &__wrapper {
      border-radius: var(--s__alt-border-radius);
      box-shadow: 0 3px 20px -1px rgb(0 0 0 / 10%);
    }

    &__title-wrapper {
      border-radius: var(--s__alt-border-radius);
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}
