.ContactChipSections {
  details {
    margin: var(--s__main-padding) 0;

    &[open] > summary {
      &::after {
        transform: rotate(135deg) translateX(-0.25em) translateY(-0.75em);
      }
    }
  }

  summary {
    background: var(--c__secondary);
    border-radius: var(--s__alt-border-radius);
    color: var(--c__primary);
    cursor: pointer;
    display: flex;
    font-weight: var(--fw__bold);
    justify-content: space-between;
    list-style: none;
    padding: var(--s__main-padding);

    &::-webkit-details-marker {
      display: none;
    }

    &::after {
      border-style: solid;
      border-width: 0.15em 0.15em 0 0;
      content: "";
      display: inline-block;
      height: 0.45em;
      left: -0.5em;
      position: relative;
      transform: rotate(45deg) translateX(0.625em);
      transition: transform 0.2s ease;
      vertical-align: top;
      width: 0.45em;
    }

    > h2 {
      display: inline-flex;
      align-items: center;
      font: inherit;
      margin: 0;
      padding: 0;
    }
  }

  &__icon {
    content: "";
    display: block;
    height: 24px;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    position: relative;
    width: 24px;
    display: inline-block;
    margin-right: 10px;

    &--people {
      background: var(--c__primary);
      height: 24px;
      margin-right: 10px;
      mask-image: url("../../images/icons/people.svg");
      width: 24px;
    }

    &--institutions {
      background: var(--c__primary);
      height: 24px;
      margin-right: 10px;
      mask-image: url("../../images/icons/institutions.svg");
      width: 24px;
    }

    &--foreign {
      background: var(--c__primary);
      height: 24px;
      margin-right: 10px;
      mask-image: url("../../images/icons/web.svg");
      width: 24px;
    }
  }

  @media (min-width: 50rem) {
    align-items: flex-start;
    display: flex;
    gap: var(--s__alt-padding);

    > * {
      flex: 1;
    }

    details {
      border-radius: var(--s__alt-border-radius);
      box-shadow: 0 3px 20px -1px rgb(0 0 0 / 10%);
      padding: 0 var(--s__main-padding);

      > summary {
        margin-left: calc(var(--s__main-padding) * -1);
        margin-right: calc(var(--s__main-padding) * -1);
      }

      &[open] > summary {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }
}
