.ContactChipSections {
  &__container {
    margin: var(--s__main-padding) 0;
  }

  &__title-wrapper {
    background: var(--c__secondary);
    color: var(--c__primary);
    display: flex;
    font-weight: var(--fw__bold);
    justify-content: space-between;
    list-style: none;
    padding: var(--s__main-padding);
  }

  &__title {
    align-items: center;
    display: inline-flex;
    font: inherit;
    margin: 0;
    padding: 0;
  }

  &__icon {
    content: "";
    display: block;
    display: inline-block;
    height: 24px;
    margin-right: 10px;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    position: relative;
    width: 24px;

    &--people {
      background: var(--c__primary);
      mask-image: url("../../images/icons/people.svg");
    }

    &--institutions {
      background: var(--c__primary);
      mask-image: url("../../images/icons/institutions.svg");
    }

    &--foreign {
      background: var(--c__primary);
      mask-image: url("../../images/icons/web.svg");
    }
  }
}
