.env

# npm
node_modules/

# gatsby
.cache/
public

# storybook
storybook-static/

# random dev stuff (this should really be included in a  local
# `core.excludesFile` [defined in `~/.gitconfig`])
# @see https://git-scm.com/docs/gitignore#_description
.idea/
.DS_Store
