.PromoLine {
  background: var(--c__primary);
  padding: calc(var(--s__unit) * 3) 0;

  &--large {
    padding: calc(var(--s__unit) * 10) 0;

    .PromoLine__content {
      > a {
        font-size: 1.8rem;
      }
    }

    .PromoLine__actions {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-left: 0;
      margin-top: 20px;
      width: 100%;

      .Button {
        font-size: 1.4rem;
      }
    }

    @media (min-width: 40rem) {
      padding: calc(var(--s__unit) * 20) 0;

      .PromoLine__content {
        > a {
          font-size: 1.8rem;
        }
      }

      .PromoLine__actions {
        flex-wrap: nowrap;
        margin-left: 50px;
        margin-top: 0;
        width: auto;

        .Button {
          font-size: 1.4rem;
          width: auto;

          + .Button {
            margin-left: 10px;
            margin-top: 0;
          }
        }
      }
    }
  }

  &__content {
    align-items: center;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-transform: uppercase;

    > a {
      color: var(--c__secondary);
      display: block;
      font-size: 1.2rem;
      text-align: center;
      text-decoration: none;
      width: 100%;

      span {
        display: block;
        font-size: 1rem;
      }
    }

    @media (min-width: 40rem) {
      flex-wrap: nowrap;

      > a {
        font-size: 1.5rem;
        text-align: left;
      }
    }
  }

  &__actions {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    width: 100%;

    .Button {
      font-weight: var(--fw__bold);
      justify-content: space-between;
      margin-left: 0;
      width: 100%;

      + .Button {
        margin-top: 10px;
      }
    }

    @media (min-width: 40rem) {
      display: flex;
      flex-wrap: nowrap;
      margin-top: 0;
      width: auto;

      .Button {
        width: auto;

        + .Button {
          margin-left: 10px;
          margin-top: 0;
        }
      }
    }
  }
}
