.FaqNav {
  font-size: 1.2rem;

  &__list {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: stretch;
    padding: 0;
  }

  &__list-item {
    align-items: stretch;
    display: flex;
    flex: 1 1 36ch;
    margin: 0;
    width: 100%;
  }

  .FaqNavCollapsible & {
    &__list {
      margin: 0;
    }
  }
}
