.FaqNavCollapsible {
  background: var(--c__main-bg);
  border-top-left-radius: var(--s__main-border-radius);
  border-top-right-radius: var(--s__main-border-radius);
  bottom: 0;
  box-shadow: 0 4px 48px 0 rgb(0 0 0 / 60%);
  height: 0;
  left: calc(var(--s__main-padding) / 2);
  overflow: hidden;
  padding: 0;
  position: fixed;
  transition: height 0.2s ease;
  width: calc(100% - (var(--s__main-padding) * 2));
  z-index: 1002; /* 1 above faqnav-overlay */

  &__close-trigger {
    display: block;
    margin-top: var(--s__main-padding);
    text-align: center;

    &-button {
      display: inline-flex;
      margin: 0 auto;
    }
  }

  @media (min-width: 40rem) {
    background: transparent;
    border-radius: 0;
    box-shadow: none;
    flex-basis: 18.75rem;
    flex-shrink: 0;
    height: auto;
    margin-right: calc(var(--s__unit) * 8);
    overflow: visible;
    position: static;
    z-index: 0;

    &__close-trigger {
      display: none;
    }
  }
}
