.Button {
  align-items: center;
  border: 0;
  border-radius: var(--s__main-border-radius);
  display: flex;
  font: inherit;
  font-weight: var(--fw__medium);
  line-height: inherit;
  margin: 0;
  overflow: hidden;
  padding: calc(var(--s__unit) * 2) calc(var(--s__unit) * 4);
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: opacity 0.2s ease;
  z-index: 1;

  + .Button {
    margin-left: calc(var(--s__unit) * 2);
  }

  &__body {
    > span {
      display: block;
      font-size: 0.65rem;
    }
  }

  &::after {
    border-radius: 100%;
    bottom: -50px;
    content: "";
    height: 50px;
    position: absolute;
    right: -50px;
    transition: transform 1s ease-in-out;
    width: 50px;
    z-index: -1;
  }

  &:hover {
    &::after {
      transform: scale(15);
    }
  }

  &:disabled {
    opacity: 0.6;
  }

  &--primary {
    background: var(--c__primary);
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px rgb(0 0 0 / 14%),
      0 1px 5px rgb(0 0 0 / 12%);
    color: var(--c__main-bg);

    &::after {
      background: #2161d7;
    }
  }

  &--primary-outline {
    background: transparent;
    border: 1px solid var(--c__primary);
    color: var(--c__primary);

    &::after {
      background: #eaf1ff;
    }
  }

  &--secondary {
    background: var(--c__secondary);
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px rgb(0 0 0 / 14%),
      0 1px 5px rgb(0 0 0 / 12%);
    color: var(--c__primary);

    &::after {
      background: #ffc700;
    }
  }

  &--transparent {
    background: transparent;
    border: 1px solid rgb(63 81 181 / 50%);
    color: var(--c__primary);

    &::after {
      background: #eaf1ff;
    }
  }

  &--tertiary {
    background: #eaf1ff;

    &:hover {
      &::after {
        display: none;
      }
    }
  }

  .Icon {
    --icon-size: 20px;

    &--hotline {
      --icon-size: 24px;
    }
  }

  &--active {
    background: var(--c__secondary);
    color: var(--c__primary);

    .Icon {
      background: var(--c__primary);

      &--arrow-white {
        display: none;
      }
    }

    &:hover {
      &::after {
        display: none;
      }
    }
  }

  .FaqNav & {
    width: 100%;

    &__body {
      flex: 1;
    }
  }
}
