.StepsModule {
  display: flex;
  flex-direction: column;
  gap: calc(var(--s__unit) * 6);
  padding: var(--s__main-padding) 0;

  details {
    border: 1px solid #ececec;
    border-radius: var(--s__main-border-radius);
    padding: var(--s__main-padding);

    &[open] summary::after {
      transform: rotate(135deg);
    }
  }

  summary {
    align-items: center;
    border-bottom: 1px solid #ececec;
    color: var(--c__primary);
    cursor: pointer;
    display: flex;
    justify-content: space-between;

    &,
    h3 {
      font-size: 1.5rem;
    }

    h3 {
      font-weight: var(--fw__small);
    }

    &::after {
      border-color: var(--c__primary);
      border-style: solid;
      border-width: 0.15em 0.15em 0 0;
      content: "";
      display: inline-block;
      height: 0.45em;
      left: -0.5em;
      margin-left: 2rem;
      position: relative;
      transform: rotate(45deg) translateY(50%);
      transform-origin: center;
      transition: transform 0.2s ease;
      vertical-align: middle;
      width: 0.45em;
    }
  }
}
