.tabs {
  color: #6b6b6b;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-transform: uppercase;

  &__section {
    align-items: center;
    border-bottom: 1px solid #c0c0c0;
    display: flex;
    flex-direction: column;
    margin-bottom: 1px;
    width: 50%;

    &--active {
      align-items: center;
      border-bottom: 3px solid #ffd500;
      color: var(--c__primary);
      display: flex;
      flex-direction: column;
      width: 50%;
    }
  }

  &__name {
    cursor: pointer;
  }
}
