.SlidingNavigation {
  background: var(--c__main-bg);
  display: flex;
  overflow-x: auto;
  position: sticky;

  /* need that 1px otherwise there's a gap between navigation and header on mobile */
  top: calc(var(--header-height) - 1px);
  white-space: nowrap;
  z-index: 10;

  /*
    This wrapper div is necessary because of
    overflow-x parent + 100% width children behavior
  */
  &__container {
    display: flex;
    flex: 1;
    position: relative;

    &::after {
      background-color: #c0c0c0;
      bottom: 0;
      content: "";
      display: block;
      height: 1px;
      position: absolute;
      width: 100%;
    }
  }

  &__item {
    --grey-color: #6b6b6b;

    align-items: center;
    color: var(--grey-color);
    cursor: pointer;
    display: flex;
    font-weight: var(--fw__bold);
    justify-content: center;
    padding: var(--s__main-padding);
    text-decoration: none;

    .Icon {
      background-color: var(--grey-color);
    }

    &--active {
      color: var(--c__primary);
      position: relative;

      &::after {
        background-color: var(--c__secondary);
        bottom: 0;
        content: "";
        display: block;
        height: 3px;
        position: absolute;
        width: 100%;
        z-index: 1;
      }

      .Icon {
        background-color: var(--c__primary);
      }
    }
  }
}
