.SlidingNavigation {
  background: var(--c__neutral-12);
  display: flex;
  overflow-x: auto;
  position: sticky;

  /* need that 1px otherwise there's a gap between navigation and header on mobile */
  top: calc(var(--header-height) - 1px);
  white-space: nowrap;
  z-index: 10;

  /*
    This wrapper div is necessary because of
    overflow-x parent + 100% width children behavior
  */
  &__wrapper {
    display: flex;
    flex: 1;
    position: relative;

    &::after {
      background-color: #c0c0c0;
      bottom: 0;
      content: "";
      display: block;
      height: 1px;
      position: absolute;
      width: 100%;
    }
  }

  &__item {
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    padding: var(--s__main-padding);

    > a {
      align-items: center;
      color: #6b6b6b;
      display: flex;
      font-weight: var(--fw__bold);
      text-decoration: none;

      > span {
        background-color: #6b6b6b;
      }
    }

    &--active {
      position: relative;

      &::after {
        background-color: var(--c__secondary);
        bottom: 0;
        content: "";
        display: block;
        height: 3px;
        position: absolute;
        width: 100%;
        z-index: 1;
      }

      > a {
        color: var(--c__primary);

        > span {
          background-color: var(--c__primary);
        }
      }
    }
  }

  &__icon {
    content: "";
    display: block;
    display: inline-block;
    height: 24px;
    margin-right: 10px;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    position: relative;
    width: 24px;

    &--people {
      background: var(--c__primary);
      mask-image: url("../../images/icons/people.svg");
    }

    &--institutions {
      background: var(--c__primary);
      mask-image: url("../../images/icons/institutions.svg");
    }

    &--foreign {
      background: var(--c__primary);
      mask-image: url("../../images/icons/web.svg");
    }
  }
}
