.PositiveNegativeList {
  display: flex;
  flex-direction: column;
}

.PositiveNegativeListItem {
  width: 100%;
  padding: calc(var(--s__unit)*2);
  align-items: center;
  box-sizing: border-box;
  flex-wrap:wrap;

  @media (min-width: 42rem) {
    flex-wrap: nowrap;
  }

  &[data-type='positive'] {
    order: 10;
  }

  &[data-type='negative'] {
    order: 1;
  }

  + .ResourceListItem {
    margin-top: calc(var(--s__unit)*2);
  }

  &__source {
    display: block;
    height: 24px;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    position: relative;
    width: 24px;
    display: inline-block;
    margin-right: 10px;
    mask-image: url("../../images/icons/info.svg");
    background: var(--c__primary);
  }

  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

    p {
      display: block;
      flex: 1;
    }
  }

  .Button {
    min-width: 120px;
    justify-content: space-between;
    width: 100%;

    @media (min-width: 42rem) {
      flex-wrap: no-wrap;
      width: unset;
    }
  }
}
