.PositiveNegativeList {
  display: flex;
  flex-direction: column;

  .separator {
    position: relative;
    text-align: center;

    span {
      display: inline-block;
      padding: 5px 10px;
      background: white;
      position: relative;
      z-index: 1;
      text-transform: uppercase;
      color: #6b6b6b;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 1px;
      background: #c0c0c0;
      top: 50%;
      transform: translateY(-50%);
      z-index: 0;
    }
  }
}

.PositiveNegativeListItem {
  align-items: center;
  box-sizing: border-box;
  flex-wrap: wrap;
  width: 100%;

  @media (min-width: 42rem) {
    flex-wrap: nowrap;
  }

  + .ResourceListItem {
    margin-top: calc(var(--s__unit) * 2);
  }

  &__source {
    background: var(--c__primary);
    display: block;
    display: inline-block;
    height: 24px;
    margin-right: 10px;
    mask-image: url("../../images/icons/info.svg");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    position: relative;
    width: 24px;
  }

  &__content {
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 100%;

    p {
      display: block;
      flex: 1;
    }
  }

  .Button {
    justify-content: space-between;
    min-width: 120px;
    width: 100%;

    @media (min-width: 42rem) {
      flex-wrap: no-wrap;
      width: unset;
    }
  }
}
