.Constraint {
  --constraint-padding: 0 var(--s__main-padding);

  margin: 0 auto;
  max-width: var(--s__constraint);
  padding: var(--constraint-padding);

  &--contact-chip-sections {
    padding: 0;
  }
}
