.Constraint {
  --constraint-padding: 0 var(--s__main-padding);

  margin: 0 auto;
  max-width: var(--s__constraint);
  padding: var(--constraint-padding);

  &--sliding-nav {
    padding: 0;

    .SlidingNavBlock__content {
      padding: var(--constraint-padding);
    }

    @media (min-width: 1140px) {
      .SlidingNavBlock__content {
        padding: 0;
      }
    }
  }
}
