.navigation-group {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: calc(var(--s__unit) * 4);

  .additional-navigation {
    width: 100%;
  }

  .breadcrumb {
    margin-bottom: calc(var(--s__unit) * 2);
  }

  @media (min-width: 40rem) {
    .additional-navigation {
      width: auto;
    }
  }
}
