:root {
  --fw__small: 300;
  --fw__normal: 400;
  --fw__medium: 500;
  --fw__bold: 700;
  --fs__h1: 3.25rem;
  --fs__h2: 3rem;
  --fs__h3: 2.25rem;
  --fs__h4: 1.75rem;
  --fs__h5: 1.375rem;
  --fs__h6: 1.125rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: var(--fw__medium);
  margin-bottom: calc(var(--s__unit) * 4);
}

h1,
.h1 {
  font-size: 2.4rem;

  @media and (min-width: 40rem) {
    font-size: var(--fs__h1);
  }
}

h2,
.h2 {
  font-size: 2rem;

  @media and (min-width: 40rem) {
    font-size: var(--fs__h2);
  }
}

h3,
.h3 {
  font-size: var(--fs__h4);

  @media and (min-width: 40rem) {
    font-size: var(--fs__h3);
  }
}

h4,
.h4 {
  font-size: var(--fs__h5);

  @media and (min-width: 40rem) {
    font-size: var(--fs__h4);
  }
}

h5,
.h5 {
  font-size: var(--fs__h6);

  @media and (min-width: 40rem) {
    font-size: var(--fs__h5);
  }
}

h6,
.h6 {
  font-size: var(--fs__h6);

  @media and (min-width: 40rem) {
    font-size: var(--fs__h6);
  }
}
