@import "./_color";
@import "./_spacing";
@import "./_typography.css";

:root {
  /* Header height fallbacks that are later overriden with JS */
  --header-height: 63px;

  @media (min-width: 46rem) {
    --header-height: 71px;
  }

  @media (min-width: 66rem) {
    --header-height: 88px;
  }
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  background: var(--c__main-bg);
  color: var(--c__main-color);

  &[data-filters="visible"] {
    overflow: hidden;

    @media (min-width: 50rem) {
      overflow: initial;
    }
  }
}

html {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  scroll-padding-top: var(--header-height);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  max-width: 42em;
}

a {
  color: var(--c__primary);
}
