@import "./_color";
@import "./_spacing";
@import "./_typography.css";

body,
html {
  margin: 0;
  padding: 0;
}

body {
  background: var(--c__main-bg);
  color: var(--c__main-color);

  &[data-filters="visible"] {
    overflow: hidden;

    @media (min-width: 50rem) {
      overflow: initial;
    }
  }
}

html {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  max-width: 42em;
}

a {
  color: var(--c__primary);
}
