.LcmDefault {
  margin: var(--s__main-padding) 0;
  overflow: hidden;
  width: 100%;

  &__title {
    font-size: 1.8rem;
    margin: 0;
    margin-bottom: calc(var(--s__unit) * 10);
  }

  &__button-list {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: var(--fs__h5);
    gap: var(--s__main-padding);
    list-style: none;
    padding: 0;

    li {
      width: 100%;
    }

    .Button {
      box-sizing: border-box;
      justify-content: space-between;
      text-transform: none;
      width: 100%;

      &::after {
        display: none;
      }

      &:hover,
      &:focus {
        color: var(--c__secondary);

        .Icon {
          background-color: var(--c__secondary);
        }
      }
    }
  }

  @media (min-width: 40rem) {
    text-align: center;

    &__title {
      font-size: var(--fs__h3);
    }

    &__button-list {
      background-color: var(--c__primary);
      border-radius: var(--s__alt-border-radius);
      flex-direction: row;
      font-size: 1.5rem;
      justify-content: space-between;
      padding: calc(var(--s__main-padding) * 1.5) var(--s__main-padding);

      > * {
        flex: 1;
      }
    }

    .Button {
      box-shadow: none;
      justify-content: center;

      .Icon {
        display: none;
      }
    }
  }
}
