.additional-navigation {
  width: fit-content;

  &__container {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }

  &__item {
    display: flex;
    flex-wrap: wrap;

    &::after {
      background: var(--c__primary);
      content: "";
      margin: 0 25px 0 5px;
      mask-image: url("../../images/icons/arrow.svg");
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: cover;
      transform: translateX(0);
      transition: transform 0.25s cubic-bezier(0.34, 1.56, 0.64, 1);
      width: 16px;
    }

    &:hover {
      &::after {
        background: #2161d7;
        transform: translateX(5px);
      }
    }
  }

  a {
    font-size: 14px;
    text-decoration: inherit;
    text-transform: uppercase;
  }

  li {
    list-style-type: none;
    margin: calc(var(--s__unit) * 2) 0;

    @media (min-width: 40rem) {
      margin: 0;

      + li {
        margin-top: 0;
      }
    }
  }
}
