.PartnerList {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 0 -1rem;
  width: 100%;

  @media (min-width: 40rem) {
    align-items: center;
    justify-content: center;
    margin: unset;
  }
}
