.Card {
  background: var(--c__card-bg);
  border: 1px solid hsl(240deg 30% 92%);
  border-radius: var(--s__alt-border-radius);
  margin-bottom: calc(var(--s__unit)*5);
  overflow: hidden;

  width: 100%;

  @media (min-width: 50rem) {
    width: calc(50% - var(--s__unit)*3);
    margin-right: calc(var(--s__unit)*5);

    &:nth-of-type(2n) {
      margin-right: 0;
    }
  }

  &__body {
    padding: var(--s__main-padding);
    white-space: pre-line;
    word-break: break-word;
  }

  &__logo {
    display: flex;
    align-items: center;
  }

  &__type {
    margin-bottom: calc(var(--s__unit) * 5);

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        background: #e7ecef;
        border-radius: var(--s__main-border-radius);
        color: var(--c__primary);
        display: inline-block;
        font-size: 0.75rem;
        padding: var(--s__unit);
        text-transform: uppercase;
      }
    }
  }

  &__html {
    white-space: normal;

    ul {
      margin-top: 0;

      li {
        + li {
          margin-top: calc(var(--s__unit) * 2);
        }
      }
    }

    p {
      margin-bottom: 10px;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  &__heading {
    background: hsl(240deg 30% 98%);
    border-bottom: 1px solid hsl(240deg 30% 92%);
    display: flex;
    justify-content: space-between;
    padding: var(--s__main-padding);
  }

  &__title {
    color: var(--c__primary);
    font-size: 1.25rem;
    font-weight: var(--fw__medium);
    margin: 0;
  }

  &__actions {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;

    .Button {
      justify-content: space-between;
      margin-left: 0;
      width: 100%;

      + .Button {
        margin-left: 0;
        margin-top: calc(var(--s__unit) * 3);
      }
    }

    @media (min-width: 40rem) {
      flex-wrap: nowrap;
      align-items: center;
      
      
      .Button {
        justify-content: center;
        width: unset;

        + .Button {
          margin-left: calc(var(--s__unit) * 3);
          margin-top: 0;
        }
      }
    }
  }
}

.CardSection {
  + .CardSection {
    margin-top: calc(var(--s__unit) * 5);
  }

  &__title {
    color: #6b6b6b;
    font-size: 0.9rem;
    margin-bottom: calc(var(--s__unit) * 2);
    margin-top: 0;
    text-transform: uppercase;
  }

  &__content {

  }
}
