.CtaLink {
  display: flex;

  &__link {
    color: var(--c__main-color);
    display: flex;
    font-size: 1.25rem;
    font-weight: var(--fw__medium);
    text-decoration: none;

    &::after {
      background: var(--c__primary);
      content: "";
      height: 32px;
      margin-left: var(--s__main-padding);
      mask-image: url("../../images/icons/arrow.svg");
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: cover;
      position: relative;
      width: 32px;
    }
  }
}
