.Icon {
  &--small {
    --icon-size: 24px;
  }

  &--medium {
    --icon-size: 36px;
  }

  &--large {
    --icon-size: 48px;
  }

  content: "";
  display: inline-block;
  height: var(--icon-size);
  margin-right: 10px;
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: contain;
  position: relative;
  width: var(--icon-size);

  &--people {
    background: var(--c__primary);
    mask-image: url("../../images/icons/people.svg");
  }

  &--institutions {
    background: var(--c__primary);
    mask-image: url("../../images/icons/institutions.svg");
  }

  &--foreign {
    background: var(--c__primary);
    mask-image: url("../../images/icons/web.svg");
  }

  &--house {
    background: var(--c__primary);
    mask-image: url("../../images/icons/house.svg");
  }
}
