.ContactChip {
  border-bottom: 1px solid var(--c__neutral-10);
  display: flex;
  justify-content: space-between;
  margin: var(--s__main-padding) 0;
  padding: var(--s__main-padding) 0;

  &__actions {
    display: flex;
    gap: var(--s__unit);
    padding-left: var(--s__main-padding);

    > a {
      background: #6b6b6b;
      color: transparent;
      content: "";
      font-size: 0.1px;
      height: 48px;
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: 20px;
      position: relative;
      width: 48px;

      + a {
        margin-left: var(--s__unit);
      }

      &:hover,
      &:active {
        background: #545454;
      }

      &:focus {
        background: #545454;
      }
    }

    &-web {
      mask-image: url("../../images/icons/web.svg");
      width: 20px;
    }

    &-facebook {
      mask-image: url("../../images/icons/facebook.svg");
      width: 20px;
    }

    &-twitter {
      mask-image: url("../../images/icons/twitter.svg");
      width: 20px;
    }
  }

  &__heading {
    font-size: 14px;
  }

  &__title {
    font-weight: var(--fw__bold);
  }

  &:first-child,
  summary + & {
    margin-top: 0;
  }

  &:last-child {
    border-bottom: none;
    margin-bottom: 0;
  }

  & + & {
    margin-top: calc(var(--s__main-padding) * -1);
  }

  @media (min-width: 66rem) {
    &__actions > a {
      height: 36px;
      width: 36px;
    }
  }
}
