.ContactChip {
  border-bottom: 1px solid var(--c__neutral-10);
  display: flex;
  justify-content: space-between;
  margin: var(--s__main-padding) 0;
  padding: var(--s__main-padding) 0;

  &__actions {
    display: flex;
    gap: var(--s__unit);
  }

  &__title {
    font-weight: var(--fw__bold);
  }

  &:first-child,
  summary + & {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  & + & {
    margin-top: calc(var(--s__main-padding) * -1);
  }
}
