.ContactForm {
  padding: calc(var(--s__unit) * 4) 0;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;

  @media all and (min-width:700px) {
    padding: calc(var(--s__unit) * 8) 0;
  }

  > div {  
    width: 100%; 
    box-sizing: border-box;

    @media all and (min-width:700px) {
      width: 50%;
    }
  }

  &__text {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    padding: calc(var(--s__unit) * 8);

    @media all and (min-width:700px) {
      padding: calc(var(--s__unit) * 15);
    }

    h3 {
      margin-top: 0;
      margin-bottom: calc(var(--s__unit) * 6);
    }
  }

  &__form {

  }

  &__actions {
    margin-top: calc(var(--s__unit) * 5);
  }
}