.Partner {
  display: inline-block;
  margin: 1rem;
  margin-top: 0;
  opacity: 0.85;
  overflow: hidden;
  transition: opacity ease-in-out 0.2s;

  &:hover {
    opacity: 1;
  }

  img {
    height: auto;
    max-height: 80px;
    max-width: 170px !important;
    width: auto;
  }
}
