.header {
  background: transparent;

  /* this is weird. styles are not loaded properly if this is missing */
}

.promoLine {
  background: var(--c__primary);
  padding: calc(var(--s__unit) * 2) 0;

  &__content {
    align-items: center;
    color: white;
    display: flex;
    justify-content: space-between;

    > a {
      color: var(--c__secondary);
      display: block;
      font-size: 1.2rem;
      text-align: center;
      text-decoration: none;
      transition: color 0.2s ease-in-out;
      width: 100%;

      @media (min-width: 40rem) {
        font-size: 1.5rem;
        text-align: left;
      }
    }
  }

  &__actions {
    align-items: stretch;
    display: none;

    @media (min-width: 40rem) {
      display: flex;
    }

    .Button {
      + .Button {
        margin-left: 10px;
      }
    }
  }
}

.Header {
  background: var(--c__main-bg);
  box-shadow: 0 0 10px -1px rgb(0 0 0 / 10%);
  position: sticky;
  top: 0;
  z-index: 1000;

  &--no-sticky {
    position: static;
  }

  a {
    text-decoration: none;
  }

  &__logo {
    height: 24px;
    padding: calc(var(--s__unit) * 3) 0;
    width: auto;

    @media (min-width: 22rem) {
      height: 32px;
    }

    @media (min-width: 46rem) {
      height: 40px;
    }
  }

  #menu-sensor {
    /* Visually hidden */
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  &__content {
    align-items: center;
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: space-between;
    position: relative;

    @media (min-width: 46rem) {
      flex-direction: row;
    }
  }

  &__menu {
    li {
      display: block;
    }

    > li {
      margin: var(--s__main-padding) 0;

      > a {
        font-weight: var(--fw__bold);
      }

      &.is-active {
        > a {
          display: inline-block;

          &::after {
            border-bottom: 2px solid var(--c__primary);
            content: "";
            display: block;
            margin-top: 3px;
          }
        }
      }
    }

    &-help-btn {
      display: flex;
      max-width: 16rem;
    }
  }

  &__nav {
    height: 0;
    overflow: hidden;
    transition: height 0.2s ease;
    width: 100%;

    ul {
      padding: 0;
    }

    > ul > li {
      > a {
        padding-left: calc(var(--s__unit) * 8);
      }

      > ul > li > a {
        padding-left: calc(var(--s__unit) * 16);
      }
    }

    a {
      color: black;
      padding: calc(var(--s__unit) * 2);
      transition: color 0.2s ease-in-out;

      &:not(.Button) {
        display: block;
      }

      &:hover {
        color: var(--c__primary);
      }

      &.Button {
        color: white;
      }
    }
  }

  #menu-sensor:focus + &__menu-trigger {
    outline: 1px solid;
  }

  /* Menu active state */
  #menu-sensor:checked + &__menu-trigger {
    span {
      width: 100%;
    }

    &::after {
      width: 100%;
    }
  }

  #menu-sensor:checked ~ .LanguageSwitch {
    display: none;
  }

  #menu-sensor:checked + &__menu-trigger + &__nav {
    /* 70px -- magic number. height of header */
    height: calc(100vh - 70px);
    overflow: auto;
  }

  &__menu-trigger {
    align-items: center;
    color: transparent;
    cursor: pointer;
    display: flex;
    font-size: 0.1px;
    height: 40px;
    justify-content: center;
    position: relative;
    user-select: none;
    width: 40px;

    span {
      background-color: var(--c__primary);
      border-radius: 15px;
      content: "";
      height: 4px;
      left: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: width 0.25s cubic-bezier(0.34, 1.56, 0.64, 1);
      width: 75%;
    }

    &::before,
    &::after {
      border-radius: 15px;
      content: "";
      height: 4px;
      position: absolute;
    }

    &::before {
      background-color: var(--c__primary);
      left: 0;
      margin-top: -10px;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
    }

    &::after {
      background-color: var(--c__secondary);
      left: 0;
      margin-top: 10px;
      top: 50%;
      transform: translateY(-50%);
      transition: width 0.25s cubic-bezier(0.34, 1.56, 0.64, 1);
      width: 50%;
    }
  }

  @media (min-width: 66rem) {
    &__menu-trigger,
    #menu-sensor {
      display: none;
    }

    #menu-sensor:checked + &__menu-trigger + &__nav {
      height: auto;
      overflow: visible;
    }

    &__content {
      gap: 1rem;
      justify-content: flex-start;
    }

    &__nav {
      flex: 1;
      height: initial;
      overflow: visible;
      width: initial;

      ul {
        padding: 0;
      }

      > ul > li {
        > a {
          padding-left: var(--s__main-padding);
        }

        > ul > li > a {
          padding-left: var(--s__main-padding);
        }
      }
    }

    &__menu {
      display: flex;
      gap: var(--s__main-padding);
      justify-content: flex-end;
      list-style: none;
      margin: calc(var(--s__main-padding) * 1.5) 0;

      > li {
        margin: 0;
        position: relative;
        z-index: 10;

        > a {
          font-weight: var(--fw__medium);
          padding: calc(var(--s__main-padding) / 2) var(--s__main-padding);
        }

        > ul {
          background: var(--c__main-bg);
          border-radius: var(--s__main-border-radius);
          box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
          left: 16px;
          opacity: 0;
          overflow: hidden;
          position: absolute;
          transition: all 0.2s ease;
          visibility: hidden;
        }

        li {
          list-style: none;

          a {
            background: transparent;
            display: block;
            margin: 0 calc(var(--s__main-padding) - 1);
            padding: var(--s__main-padding);
            transition: background 0.2s ease-in-out;

            &:hover {
              background-color: #eaf1ff;
            }
          }
        }

        &:hover > ul,
        &:focus-within > ul,
        > ul:hover,
        > ul:focus {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}
