.Section {
  /* General */

  &__title {
    font-size: 1.8rem;
    margin: 0;
    margin-bottom: calc(var(--s__unit) * 10);

    @media (min-width: 40rem) {
      font-size: var(--fs__h3);
      text-align: center;
    }
  }

  /* Modifiers */
  &--bg-blue {
    background-color: var(--c__form-bg);
  }

  &.ContactFormSection {
    margin-bottom: calc(var(--s__unit) * -8);
  }

  &.HeroSection {
    margin-bottom: 0;
  }

  &.ProtestFormsSection {
    margin-bottom: calc(var(--s__unit) * 10);
  }
}

.HeroSection {
  display: grid;
  position: relative;

  &__background {
    grid-area: 1/1;
    max-height: 600px;
    position: relative;

    &::after {
      background: rgb(15 71 175 / 50%);
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
    }
  }

  + section:not(.PromoLineSection) {
    padding-top: 4rem;
  }

  @media (min-width: 40rem) {
    &__background {
      max-height: 500px;
    }
  }
}
