.Section {
  /* General */

  &__title {
    font-size: 1.8rem;
    margin: 0;
    margin-bottom: calc(var(--s__unit) * 10);

    @media (min-width: 40rem) {
      font-size: var(--fs__h3);
      text-align: center;
    }
  }

  /* Modifiers */
  &--bg-blue {
    background-color: var(--c__form-bg);
  }

  &.ContactFormSection {
    margin-bottom: calc(var(--s__unit) * -8);
  }

  &.HeroSection {
    margin-bottom: calc(var(--s__unit) * 10);
  }

  &.ProtestFormsSection {
    margin-bottom: calc(var(--s__unit) * 10);
  }

  &.BeAwakeSection {
    background-color: #f6f6f6;
  }

  &.PartnerSection {
    margin: calc(var(--s__unit) * 12) 0;
  }
}
