.ResourceList {
  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

.ResourceListItem {
  align-items: center;
  background: #f9f9f9;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  padding: calc(var(--s__unit) * 5);
  width: 100%;

  @media (min-width: 42rem) {
    flex-wrap: nowrap;
  }

  + .ResourceListItem {
    margin-top: calc(var(--s__unit) * 2);
  }

  &__content {
    width: 100%;

    h3 {
      color: var(--c__primary);
      font-size: 1.25rem;
      margin-top: 0;

      &:only-child {
        margin-bottom: 0;
      }
    }
  }

  .Button {
    justify-content: space-between;
    min-width: 120px;
    width: 100%;
    margin-top: calc(var(--s__unit) * 2);

    @media (min-width: 42rem) {
      margin-top: 0;
      flex-wrap: nowrap;
      width: unset;
    }
  }
}
