.CtaCard {
  background: var(--c__card-bg);
  border-radius: var(--s__alt-border-radius);
  box-shadow: 0 3px 20px -1px rgb(0 0 0 / 10%);
  box-sizing: border-box;
  margin: var(--s__small-padding) 0;
  overflow: hidden;
  width: 100%;

  @media (min-width: 40rem) {
    margin: var(--s__main-padding) 0;
    width: 49%;
  }

  a {
    text-decoration: none;
  }

  &__body {
    display: none;
    font-size: var(--fs__h3);
    padding: var(--s__main-padding);
    white-space: pre-line;
    word-break: break-word;

    @media (min-width: 40rem) {
      display: block;
      font-size: var(--fs__h3);
    }
  }

  &__heading {
    background: var(--c__secondary);
    border-bottom: 1px solid hsl(240deg 30% 92%);
    display: flex;
    justify-content: space-between;
    padding: var(--s__main-padding);
    transition: background 0.25s ease-in-out;
  }

  &__icon {
    &::before {
      background: var(--c__primary);
      content: "";
      display: block;
      height: 40px;
      margin-right: calc(var(--s__unit) * 4);
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: cover;
      position: relative;
      width: 40px;
    }

    &--volunteer {
      &::before {
        mask-image: url("../../images/icons/volunteer.svg");
        width: 40px;
      }
    }

    &--donate {
      &::before {
        mask-image: url("../../images/icons/donate.svg");
        width: 40px;
      }
    }
  }

  &__title {
    align-items: center;
    color: var(--c__primary);
    display: flex;
    flex: 1 auto;
    font-size: var(--fs__h5);
    font-weight: var(--fw__bold);
    justify-content: space-between;
    margin: 0;

    &::after {
      background: var(--c__primary);
      content: "";
      height: 32px;
      mask-image: url("../../images/icons/arrow.svg");
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: cover;
      position: relative;
      transform: translateX(-6px);
      transition: transform 0.25s cubic-bezier(0.34, 1.56, 0.64, 1);
      width: 32px;
    }

    @media and (min-width: 40rem) {
      font-size: var(--fs__h3);
    }
  }

  &:hover {
    .CtaCard__heading {
      background: #ffc700;
    }

    .CtaCard__title {
      &::after {
        transform: translateX(0);
      }
    }
  }
}

.CtaCardItem {
  font-size: 1.25rem;
  padding: calc(var(--s__unit) * 4) 0;
}
