.SubPage {
  margin: calc(var(--s__unit) * 8) 0;

  &--with-image {
    .SubPage__content {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      @media (min-width: 40rem) {
        flex-wrap: nowrap;
      }
    }
  }

  &--image-left-aligned,
  &--image-right-aligned {
    .SubPage__content-text {
      width: 100%;

      @media (min-width: 40rem) {
        width: 50%;
      }
    }
  }

  &--image-left-aligned {
    .SubPage__content {
      flex-direction: row-reverse;
    }

    .SubPage__content-image {
      @media (min-width: 40rem) {
        margin-right: 20px;
      }
    }

    .SubPage__content-text {
      text-align: left;

      @media (min-width: 40rem) {
        text-align: right;
      }
    }
  }

  &--image-right-aligned {
    .SubPage__content-image {
      @media (min-width: 40rem) {
        margin-left: 20px;
      }
    }

    .SubPage__content-text {
      @media (min-width: 40rem) {
        margin-right: 20px;
      }
    }
  }

  &__title {
    font-size: var(--fs__h3);
  }

  &__content {
    margin-bottom: calc(var(--s__unit) * 7);

    &-image {
      width: 100%;

      @media (min-width: 40rem) {
        width: 50%;
      }
    }

    &-text {
      max-width: 42em;

      > h2 {
        margin-top: 0;
      }

      blockquote {
        border: 1px solid #b10d01;
        border-radius: 6px;
        color: #b10d01;
        margin: 0;
        margin-bottom: calc(var(--s__unit) * 3);
        padding: calc(var(--s__unit) * 2);
        text-align: center;
      }

      ul {
        padding-left: 20px;

        li {
          + li {
            margin-top: calc(var(--s__unit) * 2);
          }
        }
      }
    }
  }
}
