.breadcrumb {
  width: fit-content;

  &__container {
    display: flex;
    margin: 0;
    padding: 0;
  }

  &__item {
    list-style-type: none;
  }

  &__item::before {
    content: "/";
    padding: 0 8px;
  }

  &__item:first-child {
    color: rgb(0 0 0 / 60%);
  }

  &__item:first-child::before {
    content: "";
    padding: 0;
  }

  &__solo {
    font-size: 14px;
    margin-top: 10px;
  }

  span {
    color: inherit;
    text-decoration: inherit;
  }

  a,
  span {
    font-size: 14px;
  }
}

/* Edge case */
.Constraint > .breadcrumb {
  margin-top: calc(var(--s__unit) * 3);
}
