.FormField {
  /* General */

  + .FormField {
    margin-top: calc(var(--s__unit) * 3);
  }

  label {
    display: block;
    margin-bottom: calc(var(--s__unit) * 1);

    &:first-letter {
      text-transform: uppercase;
    }
  }

  input:not([type="checkbox"]),
  textarea,
  select {
    appearance: none;
    background-color: var(--c__main-bg);
    border: 1px solid rgb(15 71 175 / 10%);
    border-radius: var(--s__main-border-radius);
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    outline: 0;
    padding: calc(var(--s__unit) * 3) calc(var(--s__unit) * 4);
    width: 100%;

    &:focus {
      border: 1px solid var(--c__primary);
    }

    &::placeholder {
      /* Whatever */
    }
  }

  /* Not sure ar butina */
  &--type-checkbox {
    input {
      display: none;

      &:checked {
        + label {
          &::before {
            background-color: var(--c__secondary);
          }
        }
      }
    }

    label {
      &::before {
        background-color: var(--c__primary);
        border-radius: var(--s__main-border-radius);
        content: "";
        display: inline-block;
        height: 16px;
        margin-right: calc(var(--s__unit) * 1);
        vertical-align: middle;
        width: 16px;
      }
    }
  }
}
